section.class
    .class-logo nique.
    .class-section 
        .class-section-item 
            .class-center
                .class-branch Asian 
                .class-name Delicious Breakfast 
                .class-date June 16, 2023
        .class-section-item 
            .class-center
                .class-branch Breakfast 
                .class-name Coffee Time 
                .class-date March 10, 2023
        .class-section-item 
            .class-center
                .class-branch Vegan 
                .class-name Vegan Burger 
                .class-date January 10, 2023
    .class-bottom 
        .class-bottom-list 
            i.class-item-icon--toggle.fa.fa-bars 
            i.class-item-icon--time.fa.fa-clock 
            i.class-item-icon--cart.fa.fa-shopping-cart 
            h3.class-item Menu
            h3.class-item Restaurant
            h3.class-item Classes
            .class-item-button Book a table