section.discover 
    .discover-list
        .discover-items 
            .discover-logo nique.
            .discover-center
                .discover-branch Discover 
                .discover-name nique. 
            .discover-bottom
                .discover-bottom-list 
                    i.discover-item-icon--toggle.fa.fa-bars 
                    i.discover-item-icon--time.fa.fa-clock 
                    i.discover-item-icon--cart.fa.fa-shopping-cart 
                    h3.discover-item Menu
                    h3.discover-item Restaurant
                    h3.discover-item Classes
                    .discover-item-button Book a table

