section.front 
    .front-logo nique.
    .front-center
        .front-branch <span>The pure taste of</span> Thailand 
        .front-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, odio, voluptates recusandae autem perspiciatis maxime.
    .front-bottom
        .front-list 
            i.front-item-icon.fa.fa-bars 
            i.front-item-icon.fa.fa-clock 
            i.front-item-icon.fa.fa-shopping-cart 
            h3.front-item Menu
            h3.front-item Restaurant
            h3.front-item Classes
            .front-item-button Book a table