section.front 
    .front-logo nique.
    .front-center
        .front-branch <span>The pure taste of</span> Thailand 
        .front-desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, odio, voluptates recusandae autem perspiciatis maxime.
    .front-bottom
        .front-list 
            i.front-item-icon--toggle.fa.fa-bars 
            i.front-item-icon--time.fa.fa-clock 
            i.front-item-icon--cart.fa.fa-shopping-cart 
            h3.front-item Menu
            h3.front-item Restaurant
            h3.front-item Classes
            .front-item-button Book a table
    .front-timeline
        .front-title Opening Hours 
        .front-timelist
            .front-date
                h3.front-day Mon 
                h3.front-time closed
            .front-date
                h3.front-day Tue - Fri
                h3.front-time 4pm - 8pm
            .front-date
                h3.front-day Sat - Sun 
                h3.front-time 5pm - 11pm
    .front-toggle
        .front-title Pages 
        .front-timelist
            .front-menu
                h3.front-day Menu 
                i.front-time.fa.fa-arrow-right 
            .front-menu
                h3.front-day Restaurant
                i.front-time.fa.fa-arrow-right
            .front-menu
                h3.front-day Classes 
                i.front-time.fa.fa-arrow-right
            .front-menu
                h3.front-day Contact 
                i.front-time.fa.fa-arrow-right
            .front-menu
                h3.front-day Shop 
                i.front-time.fa.fa-arrow-right
            .front-menu
                h3.front-day Blog 
                i.front-time.fa.fa-arrow-right
    .front-cart 
        h3.front-header Cart 
        h3.front-item-cart No items found.