section.menu 
    .menu-background 
        .menu-logo nique.
        .menu-branch Check Out 
        .menu-name Our Menu
    .menu-list
        ul.menu-header 
            li.menu-header-name Starter
            li.menu-header-name Breakfast
            li.menu-header-name Lunch
            li.menu-header-name Drinks
        .menu-items 
            .menu-item 
                .menu-title Starters 
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
            .menu-item 
                .menu-title Breakfast 
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
            .menu-item 
                .menu-title Lunch 
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
            .menu-item 
                .menu-title Dinner 
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
                .menu-info 
                    img(src="https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80").menu-item-img
                    .menu-item-info 
                        .menu-item-header
                            .menu-item-name Tomato Soup 
                            i.fa.fa-leaf.menu-item-icon 
                        .menu-item-desc Lorem ipsum dolor, sit amet consectetur 
                    .menu-item-number $ 4.90
        .menu-footer-list 
            .menu-footer-item
                .menu-footer-logo nique.
                ul.menu-footer-name 
                    li.menu-footer-desc By <span>Pawel Gola.</span>
                    li.menu-footer-desc Powered by <span>Webflow.</span>
            .menu-footer-item
                .menu-footer-title Pages
                ul.menu-footer-name 
                    li.menu-footer-desc Menu
                    li.menu-footer-desc Restaurant
                    li.menu-footer-desc Classes
                    li.menu-footer-desc Book a Table
                    li.menu-footer-desc Contact
                    li.menu-footer-desc Blog
                    li.menu-footer-desc Shop
            .menu-footer-item
                .menu-footer-title Unitility Pages
                ul.menu-footer-name 
                    li.menu-footer-desc Styleguide
                    li.menu-footer-desc Licensing
                    li.menu-footer-desc Changelog
                    li.menu-footer-desc 404 Page
                    li.menu-footer-desc Password Protected

                    


