section.book 
    .book-background 
        .book-logo nique.
        .book-center 
            .book-branch Book a table
            .book-name Reservation
        .book-bottom 
            .book-bottom-list 
                i.book-item-icon--toggle.fa.fa-bars 
                i.book-item-icon--time.fa.fa-clock 
                i.book-item-icon--cart.fa.fa-shopping-cart 
                h3.book-item Menu
                h3.book-item Restaurant
                h3.book-item Classes
                .book-item-button Book a table 
    .book-table 
        .book-title Book a table 
        .book-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aliquid expedita necessitatibus tempora eligendi quae repellat, beatae dolorum, natus fugiat dolorem debitis unde officia ratione enim aspernatur quam, fugit reprehenderit.
        .book-form 
            .book-form-input 
                .book-label Name 
                input(type='text',placeholder='Enter your name').book-input
            .book-form-input 
                .book-label Number of Guests 
                input(type='number',placeholder='2').book-input
            .book-date
                .book-input-date
                    .book-label Date 
                    input(type='text',placeholder='16.06.2022').book-input
                .book-input-date 
                    .book-label Time 
                    input(type='text',placeholder='6pm').book-input
            .book-button Book a table
        .book-form-bottom 
            .book-bottom-items
                .book-bottom-logo nique.
                .book-bottom-item--1 
                    .book-bottom-text By <span>Pawel Gola</span>
                    .book-bottom-text Powered by <span>Webflow</span>
            .book-bottom-items
                .book-bottom-title Pages
                .book-bottom-item
                    .book-bottom-text Menu
                    .book-bottom-text Restaurant
                    .book-bottom-text Classes
                    .book-bottom-text Book a Table
                    .book-bottom-text Contact
                    .book-bottom-text Blog
                    .book-bottom-text Shop
            .book-bottom-items
                .book-bottom-title Utility Pages
                .book-bottom-item 
                    .book-bottom-text Styleguide
                    .book-bottom-text Licensing
                    .book-bottom-text Changelog
                    .book-bottom-text 404 Page
                    .book-bottom-text Password Protected
            
