html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Ubuntu";
  color: #fff;
  font-size: 2rem; }

.container {
  margin: 0 auto;
  width: 1200px;
  height: auto; }

.front {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("https://images.unsplash.com/photo-1488992783499-418eb1f62d08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1289&q=80") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1488992783499-418eb1f62d08?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1289&q=80") no-repeat center/cover;
  padding: 8rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .front-logo {
    font-size: 3.2rem;
    padding-top: 6.5rem;
    text-align: center; }
  .front-center {
    margin: 6rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .front-name {
    font-size: 20rem;
    margin-bottom: 3.2rem; }
  .front-branch {
    font-family: "Caveat";
    color: #FACE8D;
    font-size: 8rem; }
  .front-desc {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    width: calc(100% - 32rem); }
  .front-bottom {
    width: auto;
    margin: 2rem auto 7rem;
    background-color: #fff;
    border-radius: 10rem; }
  .front-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0.5rem 1rem;
    color: #000; }
  .front-item {
    cursor: pointer;
    position: relative;
    margin-left: 3rem;
    background-color: transparent;
    z-index: 1;
    font-size: 2rem; }
    .front-item-icon--toggle, .front-item-icon--time, .front-item-icon--cart {
      font-size: 2rem;
      padding: 1rem;
      cursor: pointer; }
      .front-item-icon--toggle:hover, .front-item-icon--time:hover, .front-item-icon--cart:hover {
        border-radius: 50%;
        background-color: rgba(216, 206, 206, 0.6); }
    .front-item:nth-child(4) {
      margin-left: 2rem !important; }
    .front-item:nth-child(6) {
      margin-right: 3rem !important; }
    .front-item::after {
      position: absolute;
      border-radius: 2rem;
      background-color: transparent;
      content: "";
      width: 100%;
      height: 100%;
      padding: 2.5rem 5.4rem;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -1; }
    .front-item:hover:not(:first-child)::after {
      background-color: rgba(216, 206, 206, 0.6); }
    .front-item-button {
      color: #fff;
      font-size: 1.4rem;
      text-transform: uppercase;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #000;
      padding: 2rem;
      border-radius: 10rem;
      cursor: pointer; }
  .front-timeline, .front-toggle {
    background-color: #fff;
    border-radius: 1rem;
    color: #000;
    margin: 0 0 2rem;
    padding: 1.6rem 2.4rem;
    width: 25rem;
    position: absolute;
    bottom: 14rem;
    right: 78rem;
    visibility: hidden;
    opacity: 0;
    border: none; }
  .front-toggle {
    right: 85rem; }
  .front-timeline.is-active, .front-toggle.is-active {
    visibility: visible;
    opacity: 1; }
  .front-cart.is-active {
    visibility: visible;
    opacity: 1; }
  .front-timelist {
    margin-top: 1.5rem;
    line-height: 3rem;
    font-size: 1.6rem;
    font-weight: 500; }
  .front-date, .front-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .front-menu {
    line-height: 4rem;
    border-bottom: 1px solid rgba(216, 206, 206, 0.4); }
  .front-time {
    font-weight: normal; }
  .front-cart {
    position: absolute;
    height: inherit;
    left: calc(100% - 30%);
    width: 30%;
    background-color: #000;
    visibility: hidden;
    opacity: 0; }
  .front-header {
    margin-top: 4rem;
    margin-left: 3rem;
    font-size: 4rem; }
  .front-item-cart {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
  @media only screen and (max-width: 1024px) {
    .front-center {
      margin: 35rem auto; }
    .front-desc {
      font-size: 3rem;
      width: 100%;
      padding: 2rem; } }
  @media only screen and (max-width: 768px) {
    .front-center {
      margin: 22rem auto; }
    .front-branch {
      font-size: 17rem; }
    .front-desc {
      width: 100%;
      padding: 2rem; } }
  @media only screen and (max-width: 415px) {
    .front-center {
      margin: 15rem auto; }
    .front-branch {
      font-size: 5rem;
      margin-bottom: 0; }
      .front-branch span {
        font-size: 4rem; }
    .front-name {
      font-size: 8rem; }
    .front-desc {
      font-size: 1rem; }
    .front-list h3 {
      display: none; } }

.menu {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover;
  padding: 8rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative; }
  .menu-background, .menu-list {
    width: 50%;
    height: 100%; }
  .menu-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .menu-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 5rem;
    font-size: 3rem; }
  .menu-branch {
    margin-top: 20rem;
    font-size: 7rem;
    font-family: "Caveat";
    color: #FACE8D; }
  .menu-name {
    margin-top: 2rem;
    font-size: 9rem; }
  .menu-list {
    background-color: #000;
    padding: 0 7rem;
    overflow-y: scroll; }
  .menu-list::-webkit-scrollbar {
    width: 1px; }
  .menu-header {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .menu-header-name:not(:last-child) {
      margin-right: 5rem; }
    .menu-header-name:hover {
      color: #FACE8D;
      cursor: pointer; }
  .menu-items {
    margin-top: 3rem; }
  .menu-item:not(:last-child) {
    margin-bottom: 10rem; }
  .menu-title {
    font-size: 4rem;
    font-family: "Caveat";
    color: #FACE8D;
    margin-bottom: 4rem; }
  .menu-info {
    padding: 2rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer; }
    .menu-info:hover {
      border: 1px solid #FACE8D;
      border-radius: 1rem; }
  .menu-item-img {
    width: 10rem;
    height: 8rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 2rem; }
  .menu-item-number {
    margin-left: auto; }
  .menu-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 2; }
  .menu-item-name {
    margin-right: 1.5rem;
    font-size: 3rem; }
  .menu-item-icon {
    color: #FACE8D; }
  .menu-item-desc {
    font-size: 1.6rem; }
  .menu-footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 5rem; }
  .menu-footer-logo {
    font-size: 3rem; }
  .menu-footer-title {
    font-size: 2rem;
    font-weight: 300; }
  .menu-footer-name {
    margin-top: 3rem; }
  .menu-footer-desc:not(:last-child) {
    line-height: 2.5; }
  .menu-footer-desc {
    cursor: pointer; }
    .menu-footer-desc span {
      color: #FACE8D; }
  @media only screen and (max-width: 1024px) {
    .menu {
      display: block; }
      .menu-background, .menu-list {
        width: 100%;
        height: 100%; }
      .menu-branch {
        margin-top: 50rem; }
      .menu-header {
        margin-top: 5rem; } }
  @media only screen and (max-width: 768px) {
    .menu-branch {
      margin-top: 30rem; }
    .menu-list {
      display: none; } }
  @media only screen and (max-width: 415px) {
    .menu-branch {
      margin-top: 25rem;
      font-size: 5rem; }
    .menu-name {
      font-size: 8rem; }
    .menu-list {
      padding: 0 3rem;
      display: none; }
    .menu-header {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-right: 0; }
    .menu-header-name:not(:last-child) {
      margin-right: 0; }
    .menu-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .menu-item-info {
      margin-bottom: 2rem; }
    .menu-item-header {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .menu-item-desc {
      text-align: center; }
    .menu-item-number {
      margin-left: 0; }
    .menu-footer-list {
      margin-bottom: 5rem; }
    .menu-footer-item:not(:last-child) {
      margin-right: 2rem; } }

.discover {
  height: 100vh;
  padding: 5rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover;
  -webkit-animation: linear infinite;
  animation: linear infinite;
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 4s;
  animation-duration: 4s; }
  .discover-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5rem; }
  .discover-logo {
    font-size: 3rem;
    text-align: center; }
  .discover-center {
    margin: 15rem 0;
    text-align: center;
    -webkit-animation: linear infinite;
    animation: linear infinite;
    -webkit-animation-name: visible;
    animation-name: visible;
    -webkit-animation-duration: 5s;
    animation-duration: 5s; }
  .discover-branch {
    font-size: 8rem;
    font-family: "Caveat";
    color: #FACE8D;
    margin-bottom: 3rem; }
  .discover-name {
    font-size: 15rem; }
  .discover-bottom {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto; }
  .discover-bottom-list {
    border-radius: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: #fff;
    padding: 1rem 1rem;
    color: #000;
    font-size: 1.6rem;
    font-weight: 400; }
    .discover-bottom-list i {
      font-size: 2.5rem;
      margin-right: 0.1rem;
      padding: 1rem 1rem; }
      .discover-bottom-list i:hover {
        background-color: #f1f1f1;
        border-radius: 50%; }
  .discover-item {
    padding: 2rem 1rem; }
    .discover-item:hover {
      background-color: #f1f1f1;
      border-radius: 2.5rem; }
  .discover-item-button {
    padding: 1.5rem;
    background-color: #000;
    border-radius: 3rem;
    color: #fff; }
  @media only screen and (max-width: 415px) {
    .discover-branch {
      font-size: 4rem; }
    .discover-name {
      font-size: 9rem; }
    .discover-bottom-list {
      padding: 0.5rem;
      font-size: 1rem; }
      .discover-bottom-list i {
        padding: 1rem;
        font-size: 1.5rem; }
    .discover-item {
      display: none; } }

@-webkit-keyframes move {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover; }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1600891964532-839fb6407dd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1600891964532-839fb6407dd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center/cover; }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://plus.unsplash.com/premium_photo-1661668648046-f2bc1091e4b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://plus.unsplash.com/premium_photo-1661668648046-f2bc1091e4b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover; } }

@keyframes move {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center/cover; }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1600891964532-839fb6407dd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1600891964532-839fb6407dd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center/cover; }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://plus.unsplash.com/premium_photo-1661668648046-f2bc1091e4b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://plus.unsplash.com/premium_photo-1661668648046-f2bc1091e4b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover; } }

@-webkit-keyframes visible {
  0% {
    visibility: visible; }
  50% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

@keyframes visible {
  0% {
    visibility: visible; }
  50% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

.class {
  height: 100vh;
  position: relative; }
  .class-logo {
    position: absolute;
    top: 5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 3rem; }
  .class-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; }
  .class-section-item {
    width: 33.33%;
    height: 100%; }
    .class-section-item:first-child {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=499&q=80") no-repeat center/cover;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1452251889946-8ff5ea7b27ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=499&q=80") no-repeat center/cover; }
    .class-section-item:nth-child(2) {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1506368083636-6defb67639a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1506368083636-6defb67639a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat center/cover; }
    .class-section-item:last-child {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1466027575040-12134f1397fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80") no-repeat center/cover;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1466027575040-12134f1397fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80") no-repeat center/cover; }
  .class-center {
    margin: 50% auto;
    text-align: center; }
  .class-branch {
    font-size: 6rem;
    font-family: "Caveat";
    color: #FACE8D;
    margin-bottom: 2rem; }
  .class-name {
    width: 30rem;
    font-size: 6rem;
    word-wrap: break-word;
    margin: 2rem auto; }
  .class-date {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5); }
  .class-bottom {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .class-bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 3rem; }
    .class-bottom-list i {
      margin-right: 0.1rem;
      padding: 1rem;
      font-size: 2.5rem; }
      .class-bottom-list i:hover {
        background-color: #f1f1f1;
        border-radius: 50%; }
  .class-item {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300; }
    .class-item:hover {
      background-color: #f1f1f1;
      border-radius: 3rem; }
  .class-item-button {
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 3rem; }

.book {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .book-background, .book-table {
    width: 60%;
    height: 100%; }
  .book-background {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80") no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80") no-repeat center/cover;
    text-align: center;
    position: relative; }
  .book-logo {
    font-size: 3rem;
    margin: 5rem auto; }
  .book-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .book-branch {
    font-size: 6rem;
    font-family: "Caveat";
    color: #FACE8D; }
  .book-name {
    font-size: 8rem; }
  .book-bottom {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .book-bottom-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border-radius: 3rem; }
    .book-bottom-list i {
      margin-right: 0.1rem;
      padding: 1rem;
      font-size: 2rem; }
      .book-bottom-list i:hover {
        background-color: #f1f1f1;
        border-radius: 50%; }
  .book-item {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300; }
    .book-item:hover {
      background-color: #f1f1f1;
      border-radius: 3rem; }
  .book-item-button {
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 3rem;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .book-table {
    background-color: #000;
    padding: 4rem;
    overflow-y: scroll; }
  .book-title {
    font-size: 4rem;
    margin-bottom: 2.5rem; }
  .book-desc {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3.5rem; }
  .book-input {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 2rem;
    background-color: #000;
    border-radius: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-style: solid;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .book-input:focus {
      outline: none !important;
      border: 1px solid #FACE8D; }
    .book-input::-webkit-input-placeholder {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.5); }
    .book-input::-moz-placeholder {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.5); }
    .book-input::-ms-input-placeholder {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.5); }
    .book-input::placeholder {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.5); }
  .book-label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    margin-bottom: 1.5rem; }
  .book-form-input {
    margin-bottom: 2rem; }
  .book-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .book-input-date {
    width: calc(50% - 2rem); }
  .book-button {
    width: 100%;
    text-transform: uppercase;
    background-color: #FACE8D;
    padding: 2rem;
    text-align: center;
    color: #000;
    border-radius: 3rem;
    margin-top: 2rem;
    margin-bottom: 8rem; }
  .book-form-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .book-bottom-items:first-child {
    line-height: 1.5; }
  .book-bottom-items:not(:first-child) {
    line-height: 2; }
  .book-bottom-logo {
    font-size: 4rem; }
  .book-bottom-title {
    font-size: 3rem; }
  .book-bottom-item {
    margin-top: 3rem;
    font-size: 2rem;
    cursor: pointer; }
  .book-bottom-item--1 {
    font-size: 1.5rem;
    margin-top: 3rem; }
    .book-bottom-item--1 span {
      color: #FACE8D; }
  .book-bottom-text:hover {
    color: #FACE8D; }
